<div class="side-nav" *ngIf="layoutService.getNumberSelected() | async as numberSelected">
  <div class="side-nav-inner">
    <div class="side-nav-content">
      <div
        *ngIf="panelState.projects"
        class="nav-projects"
        [class.h-100]="numberSelected === 1"
        [class.h-50]="numberSelected === 2"
        [class.h-33]="numberSelected === 3"
      >
        <div class="horizontal-nav">
          <div class="flex-between h-100">
            <div class="flex-start  ml-4">
              <i class="fas fa-folder"></i>
              <small class="mx-2">Projects</small>
            </div>
            <div class="flex-end">
              <button class="close-panel flex-center" (click)="togglePanel('projects', panelState)">
                <i class="fas fa-sm fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
        <p>Project Nav Works!</p>
      </div>

      <div
        *ngIf="panelState.blog"
        class="nav-blog"
        [class.h-100]="numberSelected === 1"
        [class.h-50]="numberSelected === 2"
        [class.h-33]="numberSelected === 3"
      >
        <div class="horizontal-nav">
          <div class="flex-between h-100">
            <div class="flex-start ml-4">
              <i class="fas fa-newspaper"></i>
              <small class="mx-2">Blog</small>
            </div>
            <div class="flex-start">
              <button class="close-panel flex-center" (click)="togglePanel('blog', panelState)">
                <i class="fas fa-sm fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
        <p>Blog nav works!</p>
      </div>

      <div
        *ngIf="panelState.favorites"
        class="nav-favorites"
        [class.h-100]="numberSelected === 1"
        [class.h-50]="numberSelected === 2"
        [class.h-33]="numberSelected === 3"
      >
        <div class="horizontal-nav">
          <div class="flex-between h-100">
            <div class="flex-start ml-3">
              <i class="fas fa-star"></i>
              <small class="mx-2">Favorites</small>
            </div>
            <div class="flex-end">
              <button class="close-panel flex-center" (click)="togglePanel('favorites', panelState)">
                <i class="fas fa-sm fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
        <p>Favorites nav works!</p>
      </div>

    </div>
  </div>
</div>
