<div class="content-nav">
  <ng-container *ngIf="tabsService.getTabsList() | async as tabs">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <button
        class="content-tab"
        routerLinkActive="content-tab-active"
        [class.content-tab-active]="tab?.label === tabsService?.activeTab?.label"
        [routerLink]="tab.route"
        (click)="tabsService.activeTab = tab"
      >
        <i class="fab fa-2x fa-angular mr-2"></i>
        {{tab.label}}
        <i
          class="fas fa-sm fa-times ml-2"
          (click)="closeTab(tab, tabs, i)"
        ></i>
      </button>
    </ng-container>
  </ng-container>
</div>
