.color-picker-container {
  margin: 1.5rem;
}

.color-picker {
  margin: auto;
  height: 19rem;
  width: 15rem;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  background-color: var(--dark);
}

.overlay-label {
  margin: .25rem auto auto auto;
}

.color-input {
  box-shadow: var(--box-shadow);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
}

.color-picker-button {
  width: 9rem;
}
