<nav class="nav">
  <div class="flex-start list-style-none pl-0 pt-1">
    <a routerLink="/home/landing">
      <span class="primary-nav-link flex-center mr-2">
        <i class="fas fa-home fa-sm"></i>
      </span>
    </a>

    <a routerLink="/home/about">
      <span class="primary-nav-link flex-center mr-2">
        <i class="far fa-question-circle fa-sm"></i>
      </span>
    </a>

    <a href="https://github.com/Mike-Mountain/FlowState" target="_blank">
      <span class="primary-nav-link flex-center mr-2">
        <i class="fas fa-code fa-sm"></i>
      </span>
    </a>
  </div>

  <div class="text-muted flex-center mx-2 mt-1">
    |
  </div>

  <div class="dropdown mx-2">
    <button class="dropdown-toggle flex-center">
      <i class="fas fa-code fa-sm mr-2"></i>
      Mountain Budgets
      <i class="fas fa-sort-down ml-2 mb-1"></i>
    </button>
    <div class="dropdown-target"></div>
  </div>

  <div class="flex-start list-style-none pl-0 pt-1 ml-1">
    <a>
      <span class="primary-nav-link flex-center mr-2">
        <i class="fas fa-play fa-sm"></i>
      </span>
    </a>

    <a>
      <span class="primary-nav-link flex-center mr-2">
        <i class="fab fa-github fa-sm"></i>
      </span>
    </a>

    <a>
      <span class="primary-nav-link flex-center mr-2">
        <i class="fas fa-link fa-sm"></i>
      </span>
    </a>

    <span class="text-muted flex-center mr-2">
      |
    </span>

    <a>
      <span class="primary-nav-link flex-center mr-2">
        <i class="fas fa-search fa-sm"></i>
      </span>
    </a>
  </div>
</nav>
<nav class="nav breadcrumbs-nav pl-2">
  <small><span class="font-weight-bold">FlowState</span> > src > app > shared > shared.module.ts</small>
</nav>
