<section class="app-navigation">
  <app-primary-navigation></app-primary-navigation>
</section>
<ng-container *ngIf="layoutService.getLayoutState() | async as layoutState">
  <section class="wrapper">
    <aside
      *ngIf="layoutService.getSidePanelState() | async as panelState"
      class="side-navigation"
      [class]="'w-' + layoutState.sidePanelWidth"
    >
      <app-vertical-navigation
        [panelState]="panelState"
      ></app-vertical-navigation>
      <app-side-navigation
        [layoutState]="layoutState"
        [panelState]="panelState"
        class="w-100"
        [class]="'h-' + layoutState.sidePanelHeight"
      ></app-side-navigation>
    </aside>
    <main
      class="content"
      [class]="['w-' + layoutState.contentPanelWidth, 'h-' + layoutState.contentPanelHeight]"
    >
      <section
        class="content-navigation"
        [class.content-nav-open]="layoutState.contentNavigationHeight > 0"
        [class.content-nav-closed]="layoutState.contentNavigationHeight <= 0"
      >
        <app-content-navigation
          [layoutState]="layoutState"
        ></app-content-navigation>
      </section>
      <router-outlet></router-outlet>
    </main>
  </section>
  <footer class="app-footer">
    <app-footer
      [layoutState]="layoutState"
    ></app-footer>
    <app-vitae-container
      [layoutState]="layoutState"
    ></app-vitae-container>
  </footer>
</ng-container>
