:root {
  --text: var(--light);
  --page-bg: var(--darker);
  --card-bg: var(--dark);
  --card-title: var(--light);
  --border-color: var(--light);
  --box-shadow:  0 2px 4px rgba(0, 0, 0, 0.8), 0 0 3px 1px rgba(0, 0, 0, 0.8);
}
