@import "dark-theme";

body, .vitae-container {
  background-color: $page_bg;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
span,
small,
button,
i,
.card-body {
  color: $text;
}

.card {
  background-color: $card_bg;
  box-shadow: 0 2px 4px rgba($dark, 0.8), 0 0 3px 1px rgba(0, 0, 0, 0.8);
}

.card-title {
  color: $card_title;
}

hr {
  border-color: $primary;
  color: $primary
}

.nav,
.content-navigation,
.app-footer,
.vertical-nav,
.horizontal-nav,
.vitae-bar {
  background-color: $card_bg;
}
