@import "default-theme";

body, .vitae-container {
  background-color: var(--page-bg);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
span,
small,
button,
i,
label,
.card-body {
  color: var(--text);
}

.card {
  background-color: var(--card-bg);
  box-shadow: var(--box-shadow);
}

.card-title {
  color: var(--card-title);
}

hr {
  border-color: var(--primary);
  color: var(--primary);
}

.nav,
.content-navigation,
.app-footer,
.vertical-nav,
.horizontal-nav,
.vitae-bar,
.dropdown-target {
  background-color: var(--card-bg);
}
