/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
@import "scss/utils/bootstrap-utils";
@import "scss/theme/theme";

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
}
