// TODO: Update colour variables
$primary: #ff6a00;
$accent: #1a357a;
$success: #5fe653;
$info: #21a9ed;
$warning: #edc121;
$danger: #cc3c37;
$light: #fafafa;
$dark: #262b33;

:root {
  --primary: #ff6a00;
  --accent: #1a357a;
  --success: #5fe653;
  --info: #21a9ed;
  --warning: #edc121;
  --danger: #cc3c37;
  --light: #fafafa;
  --dark: #262b33;
  transition: all .3s;
}
