<nav class="nav">
  <ul class="flex-start list-style-none pl-0 pt-1">
    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fas fa-home fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="far fa-question-circle fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fas fa-code fa-sm"></i>
      </a>
    </li>
  </ul>

  <div class="text-muted flex-center mx-2 mt-1">
    |
  </div>

  <div class="dropdown mx-2">
    <button class="dropdown-toggle flex-center">
      <i class="fas fa-code fa-sm mr-2"></i>
      Mountain Budgets
      <i class="fas fa-sort-down ml-2 mb-1"></i>
    </button>
    <div class="dropdown-target"></div>
  </div>

  <ul class="flex-start list-style-none pl-0 pt-1 ml-1">
    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fas fa-play fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fab fa-github fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fas fa-link fa-sm"></i>
      </a>
    </li>

    <li class="text-muted flex-center mr-2">
      |
    </li>

    <li class="primary-nav-link flex-center mr-2">
      <a>
        <i class="fas fa-search fa-sm"></i>
      </a>
    </li>
  </ul>
</nav>
<nav class="nav breadcrumbs-nav pl-2">
  <small><span class="font-weight-bold">FlowState</span> > src > app > shared > shared.module.ts</small>
</nav>
