<nav class="nav">
  <ul class="flex-start list-style-none pl-0 pt-1">
    <li class="primary-nav-link">
      <a class="flex-center">
        <i class="fas fa-home fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link">
      <a class="flex-center">
        <i class="far fa-question-circle fa-sm"></i>
      </a>
    </li>

    <li class="primary-nav-link">
      <a class="flex-center">
        <i class="fas fa-code fa-sm"></i>
      </a>
    </li>
  </ul>
</nav>
<nav class="nav breadcrumbs-nav">
  <small><span class="font-weight-bold">FlowState</span> > src > app > shared > shared.module.ts</small>
</nav>
