@import "../../../../../scss/variables/theme-colours";

.primary-nav-link {
  margin: 0 .2rem;
  border-radius: 50%;
  background: transparent;
  padding: .5rem;
  width: .6rem;
  height: .6rem;
  transition: background-color .2s ease;
  cursor: pointer;
  &:hover {
    background: rgba($primary, 0.6);
  }
}

.dropdown-toggle {
  background: rgba(lighten($dark, 20%), 0.6);
  padding: .2rem .5rem;
  border: none;
  color: $light;
  cursor: pointer;
}
